@import "src/App";
.categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem auto;
}

.coll-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
}
.collection-item {
  transition: .2s all;
}
  .coll-wrapper:hover .collection-item{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }


.coll-wrapper:hover .collection-item:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}
.items-collection {
  /*border-top: 0.5px solid #569EB6;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  //padding-top: 20px;
}

.item-img {
  //height: 250px;
  object-fit: contain ;
  height: 250px;
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 899px) {
    width: 30vw;
  }
  @media screen and (max-width: 599px) {
    width: 44vw;
  }
}

.cat-img {
  @extend .item-img;
  width: 25vw;
  margin: 5px;
  height: auto;
  //height: 200px;
  @media screen and (max-width: 599px) {
    width: 90vw;
    height: 150px;
    object-fit: cover;
    margin: 5px auto;
  }
}

@media screen and (max-width: 899px) {

  .coll-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    max-width: 90vw;

  }
}

@media screen and (max-width: 599px) {
  .coll-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.categories-title {
  font-size: 1.7rem;
  margin: 3rem auto;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: 599px){
    margin: 0.5rem auto 0 auto;
  }
}

